*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    height:60px;
}
.links{
    width: 36%;
    opacity: 0.8;
    margin-right: 12%;
}
.links a{
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
    margin-right: 7%;
}

.logo{
color:#F9FAF8;
font-size: 24px;
margin-left: 15.5%;
font-weight: bolder;
}

.awe{
    display: flex;
    justify-content: center;
    height: 60vh;
    background-color: #1F2937;
    color:white;
    align-items: center;
}
.awesome{
    width: 32vw;
    margin-right: 4vw;

}
.awesome h1{
    font-size: 48px;
    font-weight: 900;
}
.awesome p{
    font-size:18px;
    opacity: 0.8;
}
.imga{
    background-color: rgb(137, 137, 137);
    height: 30vh;
    width: 33vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.awesome button{
    color: white;
    background-color: #3882f6;
    border-radius: 8px;
    border-color: transparent;
    padding: 0 32px 0 32px;
    font-size: 20px;
    margin-top: 1.5vh;
    font-weight: 900;
}

.squares-bod{
text-align: center;
justify-content: center;
height: 40vh;
}

.squares{
display: flex;
height:200px;
justify-content: center;
width: 70%;
flex-wrap: wrap;
margin-left:12%;
}
.squares-bod h1{
    margin-bottom: 5vh;
    margin-top: 2vh;
  
}
.square{
    border: 4px solid rgb(90, 110, 239);
    height:150px;
    width: 150px;
    margin-left: 5vw;
    border-radius: 8px;
    
}
.square-text{
    height:150px;
    width: 150px;
    margin-left: 5vw;
    margin-top: 1vh;

    
}
.quote{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 35vh;
}
.text{
    width: 58%;
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
    font-weight: 100;
    opacity: 0.8;
}
#author{
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    opacity: 1.0;
}

.signup{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32vh;
}

.blue{
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    width: 70%;
    color: white;
    height: 15vh;
}

.call h1{
    font-weight: 700;
}
.call p{
    opacity: 0.8;
    font-weight: 100;
}
.btn button{
    border:2px solid white;
    color:white;
    background-color: #3882f6;
    padding: 6px 28px;
    border-radius: 6px;
    font-weight: 600;
}

footer{
    height: 9vh;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}
